header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.heading-wrapper {
    flex: 1;
}

.heading-wrapper p {
    text-align: center;
}

.photo-wrapper {
    margin-right: 5%;
}

.my-photo {
    height: 235px;
    width: 200px;
    border-radius: 15px;
}

#lab-btn-wrapper {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: center;
}

.lab-btn {
    margin: 0.5%;
    border-radius: 5px;
    height: 50px;
    width: 10%;
    cursor: pointer;
}

#side-btn-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.side-btn {
    margin: 5%;
    height: 7.5%;
    width: 90%;
    border-radius: 5px;
    cursor: pointer;
}

#output {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 25px;
    border: 1px solid #aaa;
    text-align: left;
    width: 95%;
    word-wrap: break-word; /* Дозволяє переносити слова, якщо вони занадто довгі */
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100px auto;
}

/* styles.css */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -70px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

